:root {
  --primary-text-color: #2e2f42;
  --accent-color: #404bbf;
  --btn-text-color: #ffffff;
  --description-text-color: #434455;
  --background-color-main: #ffffff;
  --background-color-footer: #2e2f42;
  --btn-nonactive-bgc:#F4F4FD;
  --btn-active-bgc:#404BBF;
  --btn-hero-noneactive-bgc: #4D5AE5;
  --logo-text-color-fp: #f4f4fd;
  --footer-text-color: #E7E9FC;
  --ourteam-background-color: #F4F4FD;


}

body {
  background-color: var(--background-color-main);
  font-family: 'Roboto', sans-serif;
  color: var(--description-text-color);
}
.list {
  list-style: none;
}
/* Site Nav */

.link,
.tel,
.logo {
  text-decoration: none;
}

.logo{
  text-transform: uppercase;
}

.accent {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--accent-color);
}

.primtext {
  font-family: 'Raleway'sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--description-text-color);
}

.site-navigation .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--primary-text-color);
}
.site-navigation .link:focus,
.site-navigation .link:hover {
  color: var(--accent-color);
}

.contact-navigation .link,
.tel {

  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--description-text-color);
}
.contact-navigation .link:focus,
.contact-navigation .link:hover {
  color: var(--accent-color);
}

/* Section */

.section-title {
  color: var(--primary-text-color);
}

/* Hero */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
}

.hero-btn {
  color: var(--btn-text-color);
  background-color: var(--btn-hero-noneactive-bgc);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
}


.hero-btn:focus,
.hero-btn:hover {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--btn-text-color);
  background-color: var(--btn-active-bgc);
}




.portfolio-btn  {
  color: var(--accent-color);
  background-color: var(--btn-nonactive-bgc);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
cursor: pointer;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
  color: var(--btn-text-color);
  background-color: var(--btn-active-bgc)
}

/* Features */
.section-title-features{
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}


.feature-list .title {
color: var(--primary-text-color);
font-style: normal;
font-size: 20px;
line-height: 1.2em;


}

.feature-description {
  color: var(--description-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Our Team */


.section-team{
  background-color: var(--ourteam-background-color);
}

.team-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 20px;
  line-height: 1.2em;

}
.team-role {
  color: var(--description-text-color);
}


/* Footer */
  .footer-section{
    background-color:  var(--background-color-footer)
  }
.footerprime{
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--logo-text-color-fp);
}

.footer-description {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--footer-text-color);
}



/* Examples */
.example-title {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2em;
color: var(--primary-text-color);
}

.example-type {
font-style: normal;
font-size: 16px;
line-height: 1.5em;
color: var(--description-text-color);
}