:root {
  --primary-text-color: #2e2f42;
  --accent-color: #404bbf;
  --btn-text-color: #ffffff;
  --description-text-color: #434455;
  --background-color-main: #ffffff;
  --background-color-footer: #2e2f42;
  --btn-nonactive-bgc:#F4F4FD;
  --btn-active-bgc:#404BBF;
}

body {
  background-color: var(--background-color-main);
  font-family: 'Roboto', sans-serif;
  color: var(--description-text-color);
}
.list {
  list-style: none;
}
/* Site Nav */

.link,
.tel,
.logo {
  text-decoration: none;
}

.accent {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--accent-color);
}

.primtext {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--description-text-color);
}

.site-navigation .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--primary-text-color);
}
.site-navigation .link:focus,
.site-navigation .link:hover {
  color: var(--accent-color);
}

.contact-navigation .link,
.tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--description-text-color);
}
.contact-navigation .link:focus,
.contact-navigation .link:hover {
  color: var(--accent-color);
}

/* Section */

.section-title {
  color: var(--primary-text-color);
}

/* Hero */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
}


.portfolio-btn  {
  color: var(--accent-color);
  background-color: var(--btn-nonactive-bgc);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
cursor: pointer;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
  color: var(--btn-text-color);
  background-color: var(--btn-active-bgc)
}

/* Features */

.feature-list .title {
  color: var(--primary-text-color);
}

.feature-description {
  color: var(--description-text-color);
}

/* Our Team */

.team-title {
  color: var(--primary-text-color);
}
.team-role {
  color: var(--description-text-color);
}
